<section class="relative w-full mt-4 px-2">
  <div class="flex gap-1 rtl:gap-reverse">

    <div class="flex flex-col gap-1.5 w-2 md:w-[10px]">
      <span
        *ngFor="let banner of banners; let i = index"
        (click)="selectBanner(i)"
        class="rounded-lg bg-accent cursor-pointer w-2 duration-200"
        [ngClass]="{
          'h-full opacity-100': activeBanner === i,
          'h-2/5 opacity-50': activeBanner !== i
        }"
      ></span>
    </div>

    <div class="flex-1 overflow-hidden rounded-2xl">
      <div class="relative w-full h-56 md:h-[400px]">
        <div
          *ngFor="let banner of banners; let i = index"
          class="absolute inset-0 flex items-center justify-center transition-opacity duration-500"
          [ngClass]="{'opacity-100': activeBanner === i, 'opacity-0': activeBanner !== i}"
        >
          <img [src]="banner" class="w-full h-full object-cover" [alt]="'banner-' + i"/>
        </div>
      </div>
    </div>
  </div>
</section>
