<footer class="bg-bgColor shadow-sm fixed bottom-0 w-full">
  <div class="w-full p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a routerLink="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
        <img src="https://cdn-icons-png.flaticon.com/512/4804/4804223.png" class="h-8" alt="Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-textColor">Workers</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-textColor">
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
      </ul>
    </div>
    <hr class="border border-textColor/10 my-4" />
    <span class="block text-sm sm:text-center text-textColor">© 2025 NeckitWin. All Rights Reserved.</span>
  </div>
</footer>
