<div class="container mx-auto max-w-6xl">
  <app-banner></app-banner>

  <section class="mx-auto max-w-screen-xl mt-2 pb-12 px-4 items-center lg:flex md:px-8">
    <div class="space-y-4 flex-1 sm:text-center lg:text-left">
      <h1 class="text-white font-bold text-4xl xl:text-5xl">
        Przestań czekać na<br>
        <span class="text-bgAccent"> Swoją kolej!</span>
      </h1>
      <p class="text-gray-300 max-w-xl leading-relaxed sm:mx-auto lg:ml-0">
        Qease to aplikacja, która pozwala na zarządzanie kolejkami w Twojej firmie. Dzięki niej klienci nie muszą czekać w długich kolejkach, a Ty zyskujesz czas na inne ważne sprawy.
      </p>
      <div class="pt-10 items-center justify-center space-y-3 sm:space-x-6 sm:space-y-0 sm:flex lg:justify-start">
        <a href="javascript:void(0)" class="px-7 py-3 w-full bg-white text-gray-800 text-center rounded-md shadow-md block sm:w-auto duration-200 hover:-translate-y-0.5">
          Zacznij
        </a>
        <a href="javascript:void(0)" class="px-7 py-3 w-full bg-bgColor text-gray-200 text-center rounded-md block sm:w-auto duration-200 hover:-translate-y-0.5">
          Zaloguj się
        </a>
      </div>
    </div>
    <div class="flex-1 text-center mt-7 lg:mt-0 lg:ml-3">
      <img src="/queue.png" class="w-full mx-auto sm:w-10/12  lg:w-full" />
    </div>
  </section>
</div>
